*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-transform:none
}
a{
    text-decoration: none;
    color: #fff;
}
input,textarea{
    outline: none;
    border: none;
    list-style: none;
}
ul,li,ol{
    list-style: none;
}
html,body{
    width: 100%;
    height:100%;
    max-width: 640px;
    margin: 0 auto;
}
@media screen and (min-width: 320px) {html{font-size:50px;}}
@media screen and (min-width: 360px) {html{font-size:56.25px;}}
@media screen and (min-width: 375px) {html{font-size:58.59375px;}}
@media screen and (min-width: 400px) {html{font-size:62.5px;}}
@media screen and (min-width: 414px) {html{font-size:64.6875px;}}
@media screen and (min-width: 440px) {html{font-size:68.75px;}}
@media screen and (min-width: 480px) {html{font-size:75px;}}
@media screen and (min-width: 520px) {html{font-size:81.25px;}}
@media screen and (min-width: 560px) {html{font-size:87.5px;}}
@media screen and (min-width: 600px) {html{font-size:93.75px;}}
@media screen and (min-width: 640px) {html{font-size:100px;}}